@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/lux/variables';
@import '~bootswatch/dist/lux/bootswatch';

.img-profile {
  width: 100px;
  height: 100px;
  border-radius: 999px;
  border: solid 1px #808991;
}

.img-small {
  width: 34px;
  height: 34px;
}
